.text-div {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 50px;
  color: #6c9e97;
  text-shadow: 1px 1px 1px black;
}
.text2 {
  text-decoration: none;
  color: black;
}
.contacts1 {
  margin-top: 50px;
}
footer {
  margin-top: 351px;
}
